<div class="p-4 flex flex-col gap-4">
{{!--   <label class="flex flex-col gap-2">
    <span class="font-bold text-gray-200">
     QoL bar export string:
    </span>
    <Textarea
      class="h-32 border bg-gray-600 p-2 rounded"
      @value={{this.userInput}}
    />
  </label> --}}

{{!--   <div class="flex flex-row gap-4">
    <pre class="w-full h-80 overflow-scroll border">
      {{~this.eggyPrettyPrint~}}
    </pre>
    <pre class="w-full h-80 overflow-scroll border">
      {{~this.qolStructPrettyPrint~}}
    </pre>
  </div> --}}

{{!--   <label class="flex flex-col gap-2">
    <span class="font-bold text-gray-200">
     New QoL bar import string:
    </span>
    <textarea readonly="true" class="h-32 border bg-gray-600 p-2 rounded">
      {{~this.newExportData~}}
    </textarea>
  </label>
 --}}

  <label class="flex flex-col gap-2">
    <span class="font-bold text-gray-200">
     Generated QoL Bar:
    </span>
    <textarea readonly="true" class="h-32 border bg-gray-600 p-2 rounded">
      {{~this.newBarExportData~}}
    </textarea>
  </label>

  <NodePreview @nodeData={{this.newBarJson.b2}} @topLevel={{true}}/>
</div>