<div class="min-w-max	bg-indigo-500 bg-opacity-5 p-4 mt-4 mr-2 border border-indigo-300 shadow rounded-lg text-sm">
  <div class="flex space-x-2 items-center">
    {{#if this.nodeNameImageId}}
      <img class="w-8" alt="Job icon" src="https://xivapi.com/i/{{this.nodeNameImageId}}.png"/>
    {{/if}}

    <span class="select-all p-1 bg-gray-100 border border-gray-300 rounded-md">
      {{@nodeData.n}}
    </span>

    <span class="select-all p-1 bg-gray-100 border border-gray-300 rounded-md">
      {{@nodeData.c}}
    </span>
  </div>
  {{#if @nodeData.sL}}
    <div class="flex flex-{{@childDirection}}">
      {{#each @nodeData.sL as |childNode|}}
        <NodePreview
          @nodeData={{childNode}}
        />
        {{!--@childDirection="col"--}}
      {{/each}}
    </div>
  {{/if}}
</div>