<div class="border p-4 flex flex-col">
  <div>$type: <code>{{get @nodeData '$type'}}</code></div>
  <div>name: <code>{{@nodeData.n}}</code></div>
  {{#if this.nodeNameImageId}}
    <img class="w-8" src="https://xivapi.com/i/{{this.nodeNameImageId}}.png"/>
  {{/if}}
  {{!-- <div>k: <code>{{@nodeData.k}}</code></div> --}}
  {{!-- <div>h: <code>{{@nodeData.h}}</code></div> --}}
  {{!-- <div>d: <code>{{@nodeData.d}}</code></div> --}}
  {{!-- <div>a: <code>{{@nodeData.a}}</code></div> --}}
  {{!-- <div>v: <code>{{@nodeData.v}}</code></div> --}}
  {{!-- <div>ht: <code>{{@nodeData.ht}}</code></div> --}}
  {{!-- <div>bW: <code>{{@nodeData.bW}}</code></div> --}}
  {{!-- <div>e: <code>{{@nodeData.e}}</code></div> --}}
  {{!-- <div>position: <code>{{@nodeData.p}}</code></div> --}}
  {{!-- <div>l: <code>{{@nodeData.l}}</code></div> --}}
  {{!-- <div>co: <code>{{@nodeData.co}}</code></div> --}}
  {{!-- <div>s: <code>{{@nodeData.s}}</code></div> --}}
  {{!-- <div>rA: <code>{{@nodeData.rA}}</code></div> --}}
  {{!-- <div>fS: <code>{{@nodeData.fS}}</code></div> --}}
  {{!-- <div>spacing: <code>{{@nodeData.sp}}</code></div> --}}
  {{!-- <div>no-background: <code>{{@nodeData.nB}}</code></div> --}}
  <div>command: <code>{{@nodeData.c}}</code></div>
  <div class="flex {{if @topLevel 'flex-col' 'flex-row'}}">children:
    {{#each @nodeData.sL as |childNode|}}
      <NodePreview @nodeData={{childNode}}/>
    {{/each}}
  </div>
</div>